<!-- HTML document -->
<html>

  {{/* test template comment */}}

<head>
  <style>
body,
html {
  margin: 0;
  font-family: sans-serif;
}
.container {
  display: flex;
  gap: 0.625%;
}
a {
  flex: 1;
  text-decoration: none;
  outline-color: transparent;
  text-align: center;
  line-height: 3;
  color: black;
}
a:link,
a:visited,
a:focus {
  background: palegoldenrod;
  color: black;
}
a:hover {
  background: orange;
}
a:active {
  background: darkred;
  color: white;
}
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
nav {text-align: center;}
  </style>
  <meta charset="UTF-8">
  <title>Welcome to the main page</title>
</head>

<body>

  <h1>Welcome {{.}}!</h1>

<nav class="container">
  <a href="/">home</a>
  <a href="/test">test</a>
  <a href="/itest">itest</a>
  <a href="/temp">temp</a>
  <a href="/dragon">Dragon</a>
</nav>

</body>

</html>
